.color-nav{
    background-color: #8d7664;
}

.texto-car-1{
    font-family: 'Times New Roman', Times, serif ;
    color: #592a13;
}


.texto-car-2{
    font-family: 'Times New Roman', Times, serif ;
    color: #592a13;
    margin-left: -900px;
    margin-bottom: 150px;
    rotate: -30deg;
}

.texto-car-3{
    font-family: 'Times New Roman', Times, serif ;
    color: #cb8924;
    margin-left: 900px;
    margin-bottom: 150px;
    rotate: -30deg;
}

.nav-item-text{
    font-family: 'comic sans ms', sans-serif; /*Mejor fuente y nadie puede decir lo contrario */
    color: black; 
}