.color-nav{
    background-color: #a88f85;
}

.texto-car-1{
    font-family: 'Times New Roman', Times, serif ;
    color: white;
}


.texto-car-2{
    font-family: 'Times New Roman', Times, serif ;
    color: white;
    margin-left: -900px;
    margin-bottom: 150px;
    rotate: -30deg;
}

.texto-car-3{
    font-family: 'Times New Roman', Times, serif ;
    color: white;
    margin-left: right;
    margin-bottom: 150px;
    rotate: -30deg;
}

.nav-item-text{
    font-family: 'Times New Roman'; /*Mejor fuente y nadie puede decir lo contrario */
    color: white; 
}

.nav.text {
    color: white;
}



.medidas-card{
    display: flex;
    align-self: center;
    align-content: right;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 20px;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}
.medidas-feature1{
    margin-right: auto;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #a88f85;
    width: 80%;
    height: 80%;
}

.medidas-feature2{
    margin-right: 20px;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #a88f85;
    width: 80%;
    height: 80%;
}


.sr-only{ /* Para que no diga numeric only */
    display: none;
}


.form-box button{
    margin-top: 2vh;
    margin-right: 2vh;
    margin-left: auto;
} 


.form-box .formio-component-button{
    align-self: center;
    text-align: right;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
   }